.App {
    background-color: rgb(193, 193, 229);

    /* padding-left: 15px; */
}
.Header {
    position: fixed;
    margin-left: 950px;
}
.Header p {
    position: fixed;
    margin-left: 10px;
    font-size: 22px;
    font-weight: bold;
}

.MenuItem {
    border: 8px solid rgb(2, 75, 22);
    border-radius: 4px;
    width: 45%;
    margin:75px 40px 40px 40px;
    padding-left: 5px;
  
}

.Sidebar {
    position: fixed;
    right: 0;
    top: 100px;
    height: 25%;
    width: 25%;
    font-size: larger;
    font-weight: bold;
}

.total {
    margin-left: 10px;
    height: 30px;
}

button {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    margin: 5px;
}
