.App {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header h1 {
    color: #fff;
    text-decoration: none;
}

.menu-route {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.basic-item {
    background-color: #eee;
    border: 1px solid #333;
    box-shadow: 2px 2px #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 300px;
}

.basic-item h2 {
    margin: 0;
}

.details-route {
    display: flex;
    justify-content: center;
}

.details-route ul {
    margin: 0;
}

/* .search-route form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

/* .search-route label {
    margin-bottom: 10px;
  }
  
  .search-route input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .search-route input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  } */
